* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


body {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #667eea, #764ba2);

}


.container {

    background: white;

    padding: 20px;

    border-radius: 15px;

    width: 400px;

}


h1 {

    text-align: center;
    margin-bottom: 15px;

}


.add-box {
    display: flex;
    gap: 10px;
    align-items: baseline;
}


#taskInput {
    border-radius: 10px;
    border: none;
    background-color: #2e3658;
    color: white;
    flex: 1;
    padding: 20px 10px;
    font-size: 20px;

}

#taskInput::placeholder {
    color: rgba(255, 255, 255, 0.814);
    font-size: 20px;
}

#addBtn {

    width: 50px;

    font-size: 25px;

    background: green;

    color: white;

    border: none;

    border-radius: 50%;

    cursor: pointer;

}

#startBtn{
    border-radius: 10px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui;
}
#taskList {

    list-style: none;
    margin-top: 15px;

}


#taskList li {

    background: #eee;

    padding: 10px;

    margin-bottom: 10px;

    cursor: pointer;

    border-radius: 10px;

}


button {

    width: 100%;

    padding: 10px;

    margin-top: 10px;

    border: none;

    background: blue;

    color: white;

    cursor: pointer;

}


.card {

    background: green;

    color: white;

    padding: 15px;

    margin-top: 15px;

    border-radius: 10px;

}


.hidden {

    display: none;

}